
*.cache
CarParkSimulator/obj/Debug/CarParkSimulator.csproj.CoreCompileInputs.cache
.vs/CarParkSimulator/v15/.suo
*.ide
.vs/CarParkSimulator/v15/.suo
*.ide
*.cache
*.cache
.vs/CarParkSimulator/v15/.suo
*.ide
*.ide
*.ide
